<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bby.youlianwallet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.bby.youlianwallet.base.MyApplication"
        tools:replace="android:icon,android:label,android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/asset_item"
        android:label="@string/myapp_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bby.youlianwallet.activity.WelcomeActivity"
                   android:screenOrientation="portrait"
                   android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bby.youlianwallet.activity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.bby.youlianwallet.activity.WithdrawActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.RechargeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.AboutusActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.RegisterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.ForgetPwdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.MyinfoActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.WalletAddressActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.MessageDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.RechargeListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.WithdrawListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.TransferMoneyActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.PayPwdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.TransferRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.FeedbackActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.FeedbackRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.MyYejiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.USTDActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bby.youlianwallet.activity.USDTRecordActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
    </application>

</manifest>